################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpeechToTextConsole/.vs/SpeechToTextConsole/v16
/SpeechToTextConsole/SpeechToTextConsole/bin/Debug/netcoreapp3.1
/SpeechToTextConsole/SpeechToTextConsole/obj
